<template>
    <require from="./style.css"></require>
    <div class="flex-container-edit">
      <form class="editForm">
        <h1>Nachhilfe geben</h1>
        <br>
        <div class="form-group">
          <label for="SelectSubject">Fach</label>
          <select class="form-control" id="SelectSubject" value.bind="offer.subject">
            <option model.bind="null">Fach auswählen...</option>
            <option repeat.for="subject of subjects"
                    model.bind="subject">${subject}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="SelectTeacher">Lehrer</label>
          <select class="form-control" id="SelectTeacher" value.bind="offer.teacherId">
            <option model.bind="null">Lehrer auswählen...</option>
            <option repeat.for="teacher of teachers"
                    model.bind="teacher.id">${teacher.firstname + " " + teacher.lastname}</option>
          </select>
        </div>

        <button click.delegate="Submit()" class="submitButton">Submit</button>
      </form>
    </div>

  
</template>