<template>
  <require from="./style.css"></require>
  <require from="../valueconverter/image"></require>
  <div class="flex-container-edit">
    <form class="editForm">
      <h1>Profil Bearbeiten</h1>
      <br>
      <div class="form-group">
        <label for="InputImage">Profilbild</label>
        <br>
        <img src.bind="image | image" class="profilePic" if.bind="image">
        <input type="file" class="input" id="InputImage" accept="image/*" files.bind="image">
      </div>
      <div class="form-group">
        <label for="InputFirstName">Vorname</label>
        <input type="text" class="form-control" id="InputFirstName">
      </div>
      <div class="form-group">
        <label for="InputLastName">Nachname</label>
        <input type="text" class="form-control" id="InputLastName">
      </div>
      <div class="form-group">
        <label for="InputEmail">Email-Adresse</label>
        <input type="email" class="form-control" id="InputEmail" readonly>
      </div>
      <div class="form-group">
        <label for="InputClass">Klasse</label>
        <select class="form-control" id="InputClass">
          <option>1A</option>
          <option>1B</option>
          <option>1C</option>
          <option>1D</option>
          <option>1E</option>
          <option>2A</option>
        </select>
      </div>
      <button type="submit" click.delegate="Test()" class="submitButton">Submit</button>
    </form>
  </div>
</template>