<template>
    <require from="./customElements/offerComponent"></require>
    <require from="./style.css"></require>

    <div class="filterOfferContainer">
        <div class="filterOfferSelect">
            <select class="form-control" id="SelectSubject" value.bind="subject">
              <option model.bind="null">Fach auswählen...</option>
              <option repeat.for="subject of subjects"
                      model.bind="subject">${subject}</option>
            </select>
          </div>
  
          <div class="filterOfferSelect">
            <select class="form-control" id="SelectTeacher" value.bind="teacherId">
              <option model.bind="null">Lehrer auswählen...</option>
              <option repeat.for="teacher of teachers"
                      model.bind="teacher.id">${teacher.firstname + " " + teacher.lastname}</option>
            </select>
          </div>
    </div>

    <div class="offerContainer">
        <offer-component repeat.for="offer of offers" containerless model.bind="offer"></offerComponent>
    </div>
</template>