.flex-container-heading{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.signInButton{
    width: 35vw;
    height: 7vw;
    border-radius: 20px;
    font-weight: bold;
    font-size: 3vw;
    background: rgb(122, 180, 62);
    border-color: transparent;
    box-shadow: 5px 5px 5px gray;
}

.navBar{
    background: white; /*rgb(75, 75, 75)*/
    border-bottom: 4px solid rgb(211,211,211);
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.profileButton{
    border-color: gray;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    width: 10vh;
    height: 100%;
}

.profileButtonPic{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.navBarImg{
    height: 90%;
}

.profilePic{
    width: 10vw;
    height: 10vw;
}

.heading{
    width: 100vw;
    padding-top: 7.5vw;
    height: 25vw;
    font-size: 6.5vw;
    text-align: center;
    background-image: url(../resources/banner.jpg);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex-container-edit{
    display: flex;
    flex-flow: row column wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.editForm{
    width: 50vw;
}

.submitButton{
    width: 7vw;
    height: 3.5vw;
    background: rgb(122, 180, 62);
    border-color: transparent;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: bold;
}

/* Offer-Page */

.offerComponent{
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 5px gray;
    background: lightgray;
    border-radius: 5%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.offerContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.profilePictureOffer{
    height: 50%;
    border-radius: 50%;
}


@media (min-width: 1355px){
    .flex-container-selection{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: 90vh;
        align-items: center;
        background-image: url(../resources/banner.jpg);
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .selectButton{
        width: 70vh;
        height: 20vh;
        border-radius: 20px;
        font-weight: bold;
        font-size: 6vh;
        margin-top: 15px;
        background: rgb(122, 180, 62);
        border-color: transparent;
        box-shadow: 5px 5px 5px gray;
    }
}

@media (max-width: 1355px){
    .flex-container-selection{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        height: 90vh;
        align-items: center;
    }

    .selectButton{
        width: 50vw;
        height: 15vw;
        border-radius: 20px;
        font-weight: bold;
        font-size: 5vw;
        margin-top: 15px;
        background: rgb(122, 180, 62);
        border-color: transparent;
        box-shadow: 5px 5px 5px gray;
    }
}